.vc-day {
  min-height: 120px;
  color: $day-text;
  background: $day-bg;

  &.isWeekend {
    background: $weekend-bg;
  }

  &.nonMonth {
    color: $non-month-text;
    background: $non-month-bg;
  }

  &.today {
    background: $today-bg;
  }

  &-date {
    padding: 4px 6px;
    text-align: right;
  }

  &-event {
    position: relative;
    background: $event-bg;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &-title {
      padding: 4px;

      * {
        width: 100%;
      }
    }

    &-desc {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: currentColor;

    &:hover {
      color: currentColor;
    }
  }
}
