.vc-day {
  min-height: 120px;
  background: white;

  &.isWeekend {
    background: lightgoldenrodyellow;
  }

  &.nonMonth {
    color: grey;
    background: #e3e3e3;
  }

  &.today {
    background: tan;
  }

  &-date {
    padding: 4px;
    text-align: right;
  }

  &-event {
    position: relative;
    background: lightgrey;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &-title {
      padding: 4px;

      * {
        width: 100%;
      }
    }

    &-desc {
      position: absolute;
      top: 100%;
      left: 0;
      width: 25vw;
      max-height: 0;
      height: 0;
      z-index: 2;
      background: red;
      color: white;
      transition: all 0.3s;
      overflow: hidden;

      &.show {
        max-height: 50vh;
        height: auto;
        overflow: auto;
      }
    }
  }

  a {
    text-decoration: none;
    color: currentColor;

    &:hover {
      color: currentColor;
    }
  }
}
