.vc-month {
  &-view {
    width: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;

    .next,
    .prev {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: currentColor;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-container {
    display: grid;
    padding: 1px;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    background: green;
  }

  &-day-header {
    padding: 0.1rem 1rem;
    background: white;
  }
}
