// colors
$day-bg: #fff;
$day-text: #000;

$weekend-bg: #eceadf;
$weekend-text: #000;

$non-month-bg: #e6e6e6;
$non-month-text: #1f1f1f;

$today-bg: #deedf7;
$today-text: #000;

$text: #000;

$event-bg: #c3c3c3;
