.vc {
  width: 100%;
  color: $text;
  text-align: center;
  font-family: 'Kodchasan', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;

  * {
    box-sizing: border-box;
  }
}
