#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text;

  * {
    box-sizing: border-box;
  }
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
