#app {
  font-family: 'Kodchasan', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  color: #000;
}

h2 {
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 1px solid grey;
}

pre {
  min-width: 250px;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  background: lightgrey;
}

.flex {
  display: flex;
}

/* Tippy theme */
.tippy-tooltip.custom-theme {
  padding: 0;
  background-color: #e8dfcb;
  border: 2px solid black;
  color: black;
}

.tippy-tooltip.custom-theme .tippy-backdrop {}

.tippy-tooltip.custom-theme .tippy-arrow,
.tippy-tooltip.custom-theme .tippy-roundarrow {
  fill: black;
}

.tippy-tooltip.custom-theme .tippy-content {
  text-align: left;
}

.tip-title {
  padding: 0.5rem;
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  background-color: green;
  color: white;
}

.tip-content {
  padding: 0.5rem;
  font-size: 0.85rem;
}

.raid--desc {
  margin: 0 0 6px 0;
  font-style: italic;
  line-height: 1.3;
}

.table {
  display: table;
}

.table_row {
  display: table-row;
}

.table_cell {
  display: table-cell;
}

.raid .table {
  width: calc(100% - 20px);
  margin: 10px auto;
}

.table_hd_grp {
  display: table-header-group;
  font-weight: 700;
}

.table_hd_grp .table_cell {
  padding: 0 4px;
  border-bottom: 2px solid #4F6373;
}

.table.raid--roles .table_row .table_cell {
  padding-bottom: 4px;
}

.raid .full .raid--role,
.raid .full .needed,
.raid .full .confirmed,
.raid .full .available {
  color: #6f6f6f;
  font-weight: normal;
}

.raid .need-more .raid--role,
.raid .need-more .confirmed {
  color: #8A0917;
  font-weight: 700;
}

.raid .needed,
.raid .confirmed,
.raid .available {
  text-align: center;
}

.table_ft_grp {
  display: table-footer-group;
}

.table_ft_grp .table_cell {
  padding-top: 1rem;
}

.desc {
  padding: 0.5rem;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
